<h1> New Form</h1>

<%= form_for @user, url:'/users' do |f| %>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class='form-group'>
    Username <%= f.text_field :username, placeholder: "Put your name here", class:"placeholder"  %>
  </div>
  
  <div class='form-group'>
    Email <%= f.email_field :email, placeholder: "example@example.com", class:"placeholder"  %>
  </div>
  <div class='form-group'>
    Password <%= f.password_field :password, placeholder: "your secret pass", class:"placeholder"  %>
  </div>
  
  <%= f.submit :class => 'submit-btn' %>
<% end %>